{% extends "base.html" %}

{% block title %}Index{% endblock title %}
{% block content %}

    <div class="col-sm-8">
        <h4 class="d-inline-block">Collections</h4>
        <button id="fetch-btn" type="button" class="btn btn-success">Fetch</button>
    </div>

    <script>
        $(document).ready(function () {
            $("#fetch-btn").click(function () {
                alert("This needs to be implemented. Good luck!");
            });
        });
    </script>

{% endblock content %}
